@media only screen and (min-width: 768px) and (max-width: 1170px) {   



}






/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
.span3 {  float:none;  display:block;  } 
.span6 {  float:none;  display:block;  } 
.text-align-right {text-align:left;}
.align-right {float:none;  display:block; margin-bottom:40px;}
.align-left {float:none;  display:block; margin-bottom:40px;}

.text-title {text-align:center;}
.text-title-home {text-align:center; margin-bottom:20px;}

.columns3 {width: 100%;}
.columns4 {width: 100%;}

.fullwidth-header .social-icon {margin-right:20px;  margin-left:0;}

#filters { float:center; }
#filters ul { width:100%; }
#filters ul li { float:none;  display:list-item; margin-bottom:1px; padding: 8px 14px; text-align:center; background:#323A45; }
#filters ul li a {
	color: #fff;
	background:#323A45;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 8px 14px;
}
#filters ul li a:hover {
	color: #fff;
	background:#323A45;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 8px 14px;
}


#portfolio-navigation { float:center; }
#portfolio-navigation ul { width:100%; }
#portfolio-navigation ul li { float:none;  display:list-item; margin-bottom:1px; padding: 12px 14px; text-align:center;}


.clients-box { margin-top: 10px; margin-bottom:10px; }

.label {margin:10px auto 10px auto;}

#site-menu.floating {
  position: inherit;
  top: auto;
  margin-top:0; padding-bottom:20px;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
   box-shadow: 0px 0px 0px 0px #fff; 
}

footer .social-icon {font-size:20px; margin-left:10px;  margin-right:10px;}

.post-last-right {float:none;margin-top:20px; clear: both;}

.wrap-slide-page h1 {font-size:16px;}


}



/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.span3 {  float:none;  display:block;  } 
.span6 {  float:none;  display:block;  } 
.align-right {float:none;  display:block; margin-bottom:40px;}
.align-left {float:none;  display:block; margin-bottom:40px;}

.text-title {text-align:center;}
.text-title-home {text-align:center; margin-bottom:20px;}


.columns3 {width: 50%;}
.columns4 {width: 50%;}

.fullwidth-header .social-icon {margin-right:20px;  margin-left:0;}



#filters { float:center; }
#filters ul { width:100%; }
#filters ul li { float:none;  display:list-item; margin-bottom:1px; padding: 12px 14px; text-align:center; background:#323A45; }
#filters ul li a {
	color: #fff;
	background:#323A45;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 8px 14px;
}
#filters ul li a:hover {
	color: #fff;
	background:#323A45;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 8px 14px;
}


#portfolio-navigation { float:right; }
#portfolio-navigation ul { width:100%; }
#portfolio-navigation ul li { float:right;  display:list-item; margin-bottom:1px; padding: 8px 14px; text-align:center; }


.clients-box { margin-top: 10px; margin-bottom:10px; }

.label {margin:10px auto 10px auto;}


#site-menu.floating {
  position: inherit;
  top: auto;
  margin-top:0; padding-bottom:20px;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
   box-shadow: 0px 0px 0px 0px #fff; 
}

footer .social-icon {font-size:20px; margin-left:10px;  margin-right:10px;}

.post-last-right {float:none;margin-top:20px; clear: both;}

.wrap-slide-page h1 {font-size:16px;}

}