/* =============================================================== */
/* Buttons
================================================================ */
.button {
	display: inline-block;
	cursor: pointer;
	margin: 0 0px 0px 0px;
  transition: all 300ms linear;
  padding: 9px 25px 9px 25px;  
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(css/PIE.htc);
}
.button:active {}



.button.light {border: 3px solid #000000; color:#606060;}
.button.light:hover {
  background: #000000;
  color:#fff;
}

.button.white {border: 3px solid #ffffff; color:#ffffff; font-size: 34px;}
.button.white:hover {
  border: 3px solid #000000;
  color:#fff;
}
.button.white1 {border: 3px solid #000000; color:#000; font-size: 34px;}
.button.white1:hover {
  background: #000000;
  color:#fff;
}

.button.dark {background: #000000;  color:#fff; border: 3px solid #000000;}
.button.dark:hover {
  text-decoration:none; 
  transition: all 300ms linear;
  border: 3px solid #000000; color:#606060;
  background-color: transparent;
}









/* =============================================================== */
/* Services
================================================================ */
.feature-services {margin: 0 0 10px 0; position: relative; z-index:2;}
.feature-services-description {margin-left: 65px;}

.feature-services h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	
}
.feature-services-circle {
	display: inline-block;
	width: 44px;
	height: 35px;
	text-align: center;
	padding: 4px; padding-top:13px;
	color: #ffffff;
	float: left;
	margin-top: 10px;
	background: #000000;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(css/PIE.htc);
}

.margin-services {margin-top:11px;}

.services-p1 {
  margin-bottom:0px; padding:10px;
  text-align:center;
}

.services-p1 h2 {
font-size:15px;
}
.i-icon-services {
  margin-left: auto; margin-right: auto;
  color:#000000;
}


.fullwidth-color .services-p1:hover .i-icon-services {
  color:#000000; 
  background:#fff;
  border:3px solid #fff;
}




/* =============================================================== */
/* Skills
================================================================ */





/* =============================================================== */
/* Accordion
================================================================ */
.accordion {margin-bottom:40px;}
.accordion-group {
	border: 3px solid #eee;
	padding:10px;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(css/PIE.htc);
  font-size:18px;
}
.accordion-inner {font-size:13px; background:#none;}
.accordion-toggle {font-weight:bold;}
.accordion a {color:#888;}



/* =============================================================== */
/* Blackquote
================================================================ */
blockquote {
  font-size: 12px;
  font-style: italic;
  margin: 20px 20px 20px 20px;
  padding-left:50px;
  color: #383838;
  background: url(../images/quotes.gif) left top no-repeat;
  font-family: ff-market-web-1,ff-market-web-2,Lora,Georgia,"Times New Roman",serif;
  margin-bottom:40px;
}





/* =============================================================== */
/* Portfolio
================================================================ */
.grid {
	padding: 0px 0px 20px 0px;
	max-width: 960px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid li {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #fff;
	padding-bottom:0px;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0; padding-bottom:15px;
	font-weight:normal;
	font-size:14px;
	
}
.grid figcaption span:before {
	content: 'by ';
}
.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	
	border:2px solid #000000;
}
.cs-style-3 figure {
	overflow: hidden;
}
.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	
	
}
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
	
}






#filters {
	float: left;
	margin-top: 0px;
	padding-bottom: 15px;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	line-height: 24px;
}
#filters ul li {
	display: inline;
	padding: 0 10px 0 0;
	float: left;
	
	
}
#filters ul li:first-child {background: none; padding-right:0;}
#filters a {
	color: #777;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 8px 14px;
}
#filters a:hover {
  color: #000000 !important;
}
.selected {color: #000000 !important;}



/* =============================================================== */
/* Portfolio navigation
================================================================ */
#portfolio-navigation {
	float: right;
	margin-top: 0px;
	padding-bottom: 15px;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	line-height: 24px;
}
#portfolio-navigation ul li {
	display: inline;
	padding: 0 10px 0 0;
	float: right;
	
	
}
#portfolio-navigation ul li:first-child {background: none; padding-right:0;}
#portfolio-navigation a {
	color: #888;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding: 7px 7px;
	border:3px solid #000000;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(css/PIE.htc);
}
#portfolio-navigation a:hover {
	color: #fff;
	background: #000000;
	border:3px solid #000000;
}





/* =============================================================== */
/* Last from blog
================================================================ */
.blog-last {
  padding:15px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(css/PIE.htc);
  margin-bottom:10px;
  text-align:left;
  border:3px solid #eeeeee;
}
.post-last-left {float:left; width:auto;}
.post-last-right {float:right;}

.blog-last h2 {
padding-left:20px; padding-right:20px;
font-size:16px;
}
.blog-last p {
padding-left:20px; padding-right:20px;
}
.i-icon-blog {
  color:#eeeeee; 
}
.blog-last:hover  {
border:3px solid #000000;
}
.last-blog-date {font-size:14px; font-style:italic; padding-top:5px;}





/* =============================================================== */
/* Testimonials
================================================================ */
.cbp-qtrotator {
	position: relative;
	margin: 20px auto 20px auto;
	width: 100%;
	
}
.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	border-top: 1px solid #f4f4f4;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}
.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}
.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}
.cbp-qtprogress {
	position: absolute;
	background: #000000;
	height: 1px;
	width: 0%;
	top: 0;
	z-index: 1000;
}
.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
	text-align:center;
	background: none;
}
.cbp-qtrotator blockquote p {
	font-size: 17px;
	color: #888;
	font-weight: 300;
	margin: 10px;
}
.cbp-qtrotator blockquote footer {
	font-size: 13px;
	background:none;
	color: #888;
	margin:0px;
	padding:0px;
}

.cbp-qtrotator blockquote footer:before {
	content: '';
}
.cbp-qtrotator .cbp-qtcontent img {
	margin-left:auto; margin-right:auto;
	padding-top:10px;
	width:150px;
	text-align:center;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(css/PIE.htc);
  
  
}

.cbp-qtrotator .cbp-qtcontent img:hover {
	margin-left:auto; margin-right:auto;
	padding-top:10px;
	width:150px;
	text-align:center;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(css/PIE.htc);
  
  
}









.testimonialbox {
  padding: 0px 0px;
  float: left;
  font: italic 17px/22px Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 0 #ffffff;
  border-radius:3px;
  behavior: url(css/PIE.htc);
  text-align:center;
  
}
.author-wrapper {
  width: 100%;
  margin-bottom: 0px;
  float: left;
}
.arrow-testimonialbox {
  float: left;
  margin-left: 25px;
  width: 0;
  height: 0;
  border-top: 30px solid #f2f2f2; 
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
}
.testimonialbox-name {
  float: center;
  margin: 0 8px;
  color: #000000;
  padding-top: 5px;
  font-weight:bold;
  text-align:center;
}
.testimonialbox-name span {
  color: #ccc;
  font-weight: normal;
}



/* =============================================================== */
/* Clients
================================================================ */
.clients-box {
	margin: auto auto auto auto;
}
.client-box img {
  
}
.client-box:hover img {
  
}




/* =============================================================== */
/* Divider with text
=============================================================== */
.section-title-back {
	background: url(../images/bg_noise_menu.png);
	height:2px;
	width:100%;
}
.section-title-back2 {
  line-height:32px;
  text-align:left;
}
.section-title-back2 span {
	background:#FFF;
  position:relative;
  bottom:-16px;
  padding:0 20px; padding-left:0;
  font-weight:bold;
  font-size:16px;
}
.section-title {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 10px 0px;
}






/* =============================================================== */
/* Portfolio Styles
================================================================ */


/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	 transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}
/**** Disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	 transition-duration: 0s;
}
/* Disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}



/* =============================================================== */
/* Team
================================================================ */
.team-code {
  padding-bottom:0px; padding-top:40px; 
  text-align:center;
  margin-left: auto; margin-right: auto;
}
.team-code-img {
  text-align:center;
  margin-left: auto; margin-right: auto;
}
.team-code-img img {
  margin-left: auto; margin-right: auto; text-align:center;
  
}
.team-code-img:hover img {
  
}
.team-code h2 {font-size:16px;}
.sub-icon-team {width:100%;  margin-left: auto; margin-right: auto; text-align:center;}






/* =============================================================== */
/* Alert Boxes
================================================================ */
.notification {
	line-height: 18px;
	margin-bottom: 15px;
	position: relative;
	
}
.notification p {margin: 0;}
.notification span {font-weight: bold;}
.notification.success {
	background-color: #EBF6E0;
	color: #5f9025;
	padding: 14px 18px;
}
.notification.error {
	background-color: #ffe9e9;
	color: #de5959;
	padding: 14px 18px;
}
.notification.warning {
	background-color: #FBFADD;
	color: #8f872e;
	padding: 14px 18px;
}
.notification.notice {
	background-color: #E9F7FE;
	color: #5091b2;
	padding: 14px 18px;
}









/* =============================================================== */
/* Drop cap
================================================================ */
.dropcap {
	background: #eaeaea;
	color: #777;
	display: inline-block;
	float: left;
	font-size: 23px;
	font-weight: 600;
	height: 36px;
	line-height: 36px;
	margin: 0 7px 40px 0;
	text-align: center;
	width: 36px;
}






/* Call to action
==========================*/
.info-box {
	background: #000000;
	padding: 18px 25px;
	margin: 0px 0 40px 0;
	color:#fff;
}
.info-box p {margin: 0; color:#fff;}
.info-box h4 {line-height: 24px; color:#fff;}
.info-box a {margin: 7px 0 0 0;}
.info-content {
  float: left;
}


/* Contact form
==========================*/
.wpcf7-form-control {width:95%;}

.wpcf7-form-control input[text] {width:50%;}



/* Full width light
==========================*/
.fullwidth-color { 
  position: relative; 
  margin-top:0px; margin-bottom:30px;
  background: #000000; 
  color:#ffffff;
  z-index:-4;
  padding-left:40px; padding-right:40px;
  padding-top:60px; padding-bottom:60px;
} 
.fullwidth-color h1, .fullwidth-color h2, .fullwidth-color h3, .fullwidth-color h4, .fullwidth-color h5, .fullwidth-color h6 {color:#ffffff;}


.more-link {border:3px solid #000000; padding:10px;
-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(css/PIE.htc);
}
.post-desc p {margin-bottom:20px;}