---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="sr-only">An image of a love-heart</span>
                <h4>Handsomely Crafted</h4>
                <p>Every website is created with the utmost care to make sure that your site stands out amongst the competition.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">An image of a laboratory flask</span>
                <h4>Innovative</h4>
                <p>Your game will truly be the best of the best, with innovative graphics and a unique storyline.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Quality Theme</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><!--/container -->
</div><!--/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <h4>Orgzy Design</h4>
            <p>Orgzy  Design is an Australian website and game development organisation that is pushing the limits of technology. I founded Orgzy in 2019 and since then we have created a number of games that are almost ready to be released, including Asteroid Dodgers, Pong 2019 and Star Sailors, a game tie-in with the Star Sailors novella written by ACORD Robotics.</p>
            <p>Orgzy works primarily with small companies, however we also have a partnership with ACORD Robotics</p>
            <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Us</a></p>
        </div>
    </div><!--/row -->
</div><!--/container -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><!--/row -->
</div><!--/container -->
