.banner {
	position: relative;
	width: 100%;
	overflow: auto;
	
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	
	color: rgba(255,255,255,.6);
	
}
	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		padding: 0px 0 30px;
		min-height: 220px;
	}
	
	.banner h1, .banner h2 {
		font-size:45px;
  font-weight:normal;
		line-height: 67px;
		
		
	}
	.banner p {
		font-size: 15px;
		line-height: 22px;
		
		color: #888;
	}
	
	.banner .btn {
		display: inline-block;
		margin: 25px 0 0;
		padding: 9px 22px 7px 22px;
		clear: both;
		transition: all 300ms linear;
		color:#606060;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		background:none;
		border: 3px solid #000000;
		border-radius: 5px;
	}
		.banner .btn:hover {
			background: #000;
			color:#fff;
		}
		.banner .btn:active {
			
		}
		
	.banner .btn, .banner .dot {
		
	}
	
	.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		margin-left:0px;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #ccc;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .4;
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #ccc;
				opacity: 1;
			}