<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Liam Arbuckle</h3>
                <h1>Website & Game Developer</h1>
                <h5>I'm 16 years old and I've got big plans to become a software engineer after university. In my spare time I take photos and write science fiction novels.</h5>
                <h5>Follow my blog to stay updated!</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->